<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Website Guestbook - View the Guestbook</title>

<link rel="stylesheet" href="style.css" type="text/css" />

</head>

<body class="Background">
	<div class="Container">
    	<div class="WebHeader">Website</div>
        	<div class="ViewContent">
            	<div class="GuestbookFont">Read the Guestbook</div>
            	<div class="ViewLinks">
       			<a href="Index.html">Home</a>  |  <a href="Sign.html">Sign the Guestbook</a>   |   <a href="Login.html">Login</a>
                </div>
        			<div class="RowWrap">
                    <div class="ViewRow">
                    <div class="ViewName">Shawn Wrote:</div>
                    <div class="ViewComment">
                    Hey, this is a great page. Thanks for all the information. If I ever need anything else I will be sure to come back</div>
                    <div class="ViewDate">5/24/2009 | 6:34:11 PM</div><br />
                    </div>
                    
                    <div class="ViewRow Alt">
                    <div class="ViewName">Tom Wrote:</div>
                    <div class="ViewComment">
                    Thank you for the help with the information I was looking for. This page helped me find everything I needed.</div>
                    <div style="font:Normal 12px Arial;color:#003366;margin-bottom:5px;padding-left:5px;">5/21/2009 | 3:18:54 PM</div><br />
                    </div>
                    
                    <div class="ViewRow Alt2">
                    <div class="ViewName">Erin Wrote:</div>
                    <div class="ViewComment">Great page, look forward to coming back and seeing the new information you add.</div>
                    <div class="ViewDate">5/22/2009 | 11:32:18 AM</div><br />
                    </div>
                    
                    <div class="ViewRow Alt">
                    <div class="ViewName">Robert Wrote:</div>
                    <div class="ViewComment">
                    Hey, this is a great page. Thanks for all the information. If I ever need anything else I will be sure to come back. Hey, this is a great page. Thanks for all the information. If I ever need anything else I will be sure to come back. Hey, this is a great page. Thanks for all the information.</div>
                    <div class="ViewDate">5/21/2009 | 9:14:11 PM</div><br />
                    </div>
                    
                    <div class="ViewRow Alt2">
                    <div class="ViewName">Mark Wrote:</div>
                    <div class="ViewComment">
                    Hey, this page is great. Thanks for all the information on proper coding</div>
                    <div class="ViewDate">5/21/2009 | 4:12:14 PM</div><br />
                    </div>
                    <br />
                	</div>
      		</div>
        <div class="Reflection"></div>
	</div>
</body>
</html>
