<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Website Guestbook</title>

<link rel="stylesheet" href="style.css" type="text/css" />

</head>

<body class="Background">
	<div class="Container">
		<div class="WebHeader">Website</div>
        	<div class="ContentBack">
                <div class="HoldLinks">
                        <div style="font:Bold 14px Arial;padding-bottom:10px;">Links</div>
                        <div class="Links"><a href="Manage.html">Manage the Guestbook</a></div>
                        <div class="Links"><a href="Login.html">Login</a></div>
                        <div class="Links"><a href="www.wvu.edu" target="blank">Link 3</a></div>
                        <div class="Links"><a href="www.wvu.edu" target="blank">Link 4</a></div>
                </div>
                <div class="Content">
                        <div class="WelcomeFont">Welcome to my website!</div>
                        <div><img src="../WebImgs/MainImage.jpg" /></div>
                </div>
                <div class="HoldRow">
                	<div class="GuestbookFont">Guestbook</div>
                	<div class="Links">Previous 3 Entries</div>
                            <div class="Row">
                            <div class="Name">Shawn</div>
                            <div class="Comment">Hey, this page is great. Thanks...</div>
                            <div class="Date">5/24/2009</div><br />
                            <div class="ViewEntry"><a href="Guestbook.html">view entry</a></div>
                            </div>
                            
                            <div class="Row Alt">
                            <div class="Name">Tom</div>
                            <div class="Comment">Cool site, look forward to seein...</div>
                            <div class="Date">5/23/2009</div><br />
                            <div class="ViewEntry"><a href="Guestbook.html">view entry</a></div>
                            </div>
                            
                            <div class="Row Alt2">
                            <div class="Name">Erin</div>
                            <div class="Comment">Thank you for all the tutorials...</div>
                            <div class="Date">5/22/2009</div><br />
                            <div class="ViewEntry"><a href="Guestbook.html">view entry</a></div>
                            </div>
                            
                            <div class="Links">
                            <a href="Sign.html" class="guest">Sign the Guestbook</a><br />
                            <a href="Guestbook.html" class="guest">Read the Guestbook</a>
                            </div>
				</div>
            </div>
        <div class="Reflection"></div>
    </div>
</body>
</html>
