<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Website Guestbook - Login to the Guestbook</title>

<link rel="stylesheet" href="style.css" type="text/css" />

</head>

<body class="Background">
<form action="Enter Form Action" method=" ">
	<div class="Container">
    	<div class="WebHeader">Website</div>
			<div class="LoginContent">
            <div class="GuestbookFont">Login to the Guestbook</div>
                    	<div class="LoginBox">    
                                                        
                                <div class="LoginFont">Username:</div>
                                <div><input type="text" name="Uname" size="30"/></div>

                                <div class="LoginFont">Password:</div>
                                <div><input type="password" name="password" size="30"/></div>
						</div>
                        <div class="SignBoxBottom">
                                <div><input type="image" src="../WebImgs/LoginButton.png" /></div>
                        </div>
                        
                        <div class="SignLinks"><a href="Index.html">Home</a> | <a href="Guestbook.html">Return to the Guestbook</a></div>
			</div>
        <div class="Reflection"></div>
    </div>
</form>
</body>
</html>