<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Website Guestbook - Manage the Guestbook</title>

<link rel="stylesheet" href="style.css" type="text/css" />

</head>

<body class="Background">
	<div class="Container">
    	<div class="WebHeader">Website</div>
        	<div class="ManageContent">
            	<div class="GuestbookFont">Read the Guestbook</div>
            		<div class="ViewLinks">
        				<a href="Index.html">Home</a>  |  <a href="Sign.html">Sign the Guestbook</a>
                    </div>
                    
                    <div class="ManageWrap">
                        <div class="DeleteManage">Delete</div>
                        <div class="NameManage">Name</div>
                        <div class="EntryManage">Entry</div>
                        <div class="DateManage">Date</div>
                        <div class="ApproveManage">Approve</div>
                        <div class="DenyManage">Deny</div>
                    </div>
                    
                    <div class="ManageWrap">
                        <div class="DeleteField"><a href="trashCodeHere"><img src="../WebImgs/Delete_32.png" border="0"/></a></div>
                        <div class="NameField">Shawn</div>
                        <div class="EntryField">Message board message</div>
                        <div class="DateField">5/26/2009</div>
                        <div class="ApproveField"><a href="approveCodeHere"><img src="../WebImgs/Approve_32.png" border="0"/></a></div>
                        <div class="DenyField"><a href="denyCodeHere"><img src="../WebImgs/Deny_32.png" border="0"/></a></div>
                    </div>
                    
                    <div class="ManageWrap">
                        <div class="DeleteField"><a href="trashCodeHere"><img src="../WebImgs/Delete_32.png" border="0"/></a></div>
                        <div class="NameField">Alice</div>
                        <div class="EntryField">Message board message</div>
                        <div class="DateField">5/26/2009</div>
                        <div class="ApproveField"><a href="approveCodeHere"><img src="../WebImgs/Approve_32.png" border="0"/></a></div>
                        <div class="DenyField"><a href="denyCodeHere"><img src="../WebImgs/Deny_32.png" border="0"/></a></div>
                    </div>
                    
                    <div class="ManageWrap">
                        <div class="DeleteField"><a href="trashCodeHere"><img src="../WebImgs/Delete_32.png" border="0"/></a></div>
                        <div class="NameField">Rick</div>
                        <div class="EntryField">Message board message</div>
                        <div class="DateField">5/25/2009</div>
                        <div class="ApproveField"><a href="approveCodeHere"><img src="../WebImgs/Approve_32.png" border="0"/></a></div>
                        <div class="DenyField"><a href="denyCodeHere"><img src="../WebImgs/Deny_32.png" border="0"/></a></div>
                    </div>
            </div>
        </div>
        <div class="Reflection"></div>
    </div>
</body>
</html>
